:root {
    --number-rows: 16;
    --number-cols: 16;
}
html {
    background-color: rgb(227, 200, 253);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    display: inherit;
    flex-direction: inherit;
    align-items: center;
}
#grid-container{
    box-shadow: 10px 10px 30px black;
    background-color: rgb(241, 241, 241);
    margin-top: 10%;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(var(--number-rows), 1fr);
    grid-template-columns: repeat(var(--number-cols), 1fr);
}

footer {
    margin: 50px;
}
button{
    flex-direction: row;
    height: 50px;
    width: 250px;
    margin: 5px;
}
.grid-box{
    border: solid black 1px;
}