:root {
    --number-rows: 16;
    --number-cols: 16;
}
body{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#grid-container{
    margin-top: 10%;
    width: 750px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(var(--number-rows), 1fr);
    grid-template-columns: repeat(var(--number-cols), 1fr);
}

#redraw-grid-button{
    flex-direction: row;
    height: 50px;
    width: 250px;
}
.grid-box{
    border: solid black 1px;
}